apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - {{ automation.repo.local_path | default('/opt/InfraServer') }}/catalog/wireguard/base
  - secret.yaml
  - svc-udp.yaml

nameSuffix: "-{{ app_instance }}"

patches:
  - path: patch-deploy.yaml

  - target:
      version: v1
      kind: Service
      name: wg-web
    patch: |-
      - op: replace
        path: /spec/selector/app
        value: wg-{{ app_instance }}

  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: wg-web-admin
    patch: |-
      - op: replace
        path: /spec/tls/0/hosts/0
        value: {{ app_values.url }}
      - op: replace
        path: /spec/rules/0/host
        value: {{ app_values.url }}
