apiVersion: v1
kind: Service
metadata:
  name: wg-udp
  namespace: wireguard
spec:
  type: LoadBalancer
  selector:
    app: wg-{{ app_instance }}
  ports:
    - name: wireguard
      protocol: UDP
      port: {{ app_values.port }}
      targetPort: {{ app_values.port }}
